@font-face {
  font-family: "소야꼬마9";
  src: url("./font/소야꼬마9.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "소야꼬마9";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
